body{
  display:flex;
  flex-direction: column;
  background: #262626;
}
#projects{
  background; red;
  font-family: 'Volkhov', serif;
  margin: 1em;
}
.brand-logo{
  font-family: 'Volkhov', serif;
}
.welcome-text{
  font-family: 'Volkhov', serif;
  background: white;
  margin-top: 1em;
  margin-bottom: 1em;
}
.project-container{
  display: flex;
  background: white;
}
.portfolio-name{
  font-family: 'Volkhov', serif;
  color: maroon;
}
.social-text{
  text-align: center;
  bottom: 1em;
}
